@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
}

body{
<<<<<<< HEAD
	background:url("/img/palomitas.jpg");
=======
	/*background:url("/img/nuevofondo2.jpg");
>>>>>>> branch 'master' of https://github.com/Marquilokuras/TpFinal_Grupo01_2022.git
	background-repeat: no-repeat;
<<<<<<< HEAD
	background-size: 100%;
=======
	background-size: 500% 500%;*/
>>>>>>> branch 'master' of https://github.com/Marquilokuras/TpFinal_Grupo01_2022.git
}

.navbar {
	background-color: rgb(255, 128, 64);
}

label{
	font-size:25px;
	color:rgb(255, 128, 192);
	display: flex;
}

#menu_modulos li a:hover {
background-color: #2586d7;
margin-top:-2px;
padding-bottom:12px;
}

/* footer */
.footer {
	background-color: #000;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

/* footer */


.fondo {
	background-color: rgba(13, 19, 37, 0.2);
	margin-top:90px;
}
