@charset "ISO-8859-1";

#menu_modulos {
padding: 0;
}

#menu_modulos li {
display: inline;
}

#menu_modulos li a {
font-family: Arial;
font-size:11px;
text-decoration: none;
float:left;
padding: 10px;
background-color: #2175bc;
color: #fff;
}

#menu_modulos li a:hover {
background-color: #2586d7;
margin-top:-2px;
padding-bottom:12px;
}

/* footer */
.footer {
	background-color: #000;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

/* footer */
