@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
}

body{
	/*background:url("/img/nuevofondo2.jpg");
	background-repeat: no-repeat;
	background-size: 500% 500%;*/
}

.navbar {
	background-color: rgb(255, 128, 64);
}

label{
	font-size:25px;
	color:rgb(255, 128, 192);
	display: flex;
}

#menu_modulos li a:hover {
background-color: #2586d7;
margin-top:-2px;
padding-bottom:12px;
}

/* footer */
.footer {
	background-color: #000;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

/* footer */
