<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- Colocar icono en las pestañas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width,initial-scale-1.0">
	<link rel="shortcut icon" href="img/palomitas.png">
	<title>Formulario Comentario</title>
	<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container"></div>
	
	<li class="nav-item">
			<a class="btn btn-outline-danger form-control" href="#" th:href="@{/logout}">
			IdUsuario:
			<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
			<br>
			<span>Cerrar Sesion</span>
			<span class="float-right"><i class="fas fa-sign-out-alt"></i></span>
			
			</a>
		</li>
		
	<br>
	<br>
	
	<div class="col-sm-6">
				<div class="modal-content">
					<h4>Registro de Comentario y Valoracion</h4>

		<form class="form-group" th:object="${unaInfo}" 
						th:action="${editMode} ? @{/editComentario} : @{/guardarInfo}" method="post">


			<div class="form-group">
				<label for="exampleInputPassword1" class="form-label">Peliculas</label>
				<select class="form-control" th:field="*{pelicula.idPelicula}">
					<option th:each="p:${peliculas}" th:value="${p.idPelicula}" th:text="${p.nombrePelicula}"></option>
				</select>
			</div>

			<!--<label for="fechaComen">Ingrese Fecha</label>
			<input type="date"class="form-control" id="fechaComen" th:field="*{fechaComen}" value=""></input>
			<br> -->

			<label for="texto">Ingrese Comentario</label>
			<textarea class="form-control" id="texto" th:field="*{texto}" value=""></textarea>
			<br>
			<div class="mb-3">
				<label for="valoracion" class="form-label">Valoracion</label>
				<!-- <input type="number" class="form-control" id="valoracion" th:field="*{valoracion}" required> -->

				<div class="col-sm-10">

					<p class="calificacion">
						<input th:field="*{valoracion}" class="inval" id="radio1" type="radio" name="estrellas"
							value="1">
						<!----><label class="val" for="radio1">1</label>
						<!----><input th:field="*{valoracion}" class="inval" id="radio2" type="radio" name="estrellas"
							value="2">
						<!----><label class="val" for="radio2">2</label>
						<!--  --> <input th:field="*{valoracion}" class="inval" id="radio3" type="radio"
							name="estrellas" value="3">
						<!----><label class="val" for="radio3">3</label>
						<!----><input th:field="*{valoracion}" class="inval" id="radio4" type="radio" name="estrellas"
							value="4">
						<!----><label class="val" for="radio4">4</label>
						<!----><input th:field="*{valoracion}" class="inval" id="radio5" type="radio" name="estrellas"
							value="5">
						<!----><label class="val" for="radio5">5</label>
					</p>
					<p class="calificacion">
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>


					</p>
				</div>

				<div class="alert alert-danger" th:if="${#fields.hasErrors('valoracion')}" th:errors="*{valoracion}">
				</div>
			</div>

			<!--<div class="mb-3">
				<label for="fechaComen" class="form-label">Fecha de Comentario</label>
				<input type="date" class="date form-control" id="fechaComen" th:field="*{fechaComen}" required>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('fechaComen')}" th:errors="*{fechaComen}">
				</div>
			</div>-->

			<!-- <button type="submit" class="button"><span>Publicar comentario y valoracion</span> </button>-->
			<button type="submit" class="btn btn-primary"><span
										th:text="${editMode}? 'Modificar Comentario y Valoración' : 'Registrar Comentario y Valoración' "></span>
								</button>
			<a class="button" th:href="@{/index}">Volver</a>


		</form>
		
	</div>
</body>


</html>