<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Formulario Pelicula</title>
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>

      <!-- <div class="alert alert-success alert-dismissible fade show row"
      	role="alert" th:if="${cargarPeliculErrorMessage}">
      	<label th:text="${cargarPeliculErrorMessage}"></label>
      	<button type="button" class="btn-close" data-bs-dismiss="alert"
      	aria-lable="Close"></button>
      </div>
    </div>
    <div class="row"> -->
      <form class="form" th:object="${pelicula}" th:action="${editMode} ? @{/editarPelicula} : @{/guardarPelicula}" method="post"
      	enctype="multipart/form-data" >

	      
	      <input type="hidden" class="form-control" th:if="${editMode}" th:field="*{idPelicula}">
	      
	      
	      <div class="fondo">
	      
	      <div class="mb-3">
	      
	          <label for="idPelicula" class="form-label" >Digite ID de la Pelicula</label>
	          <input type="number" class="form-control" id="idPelicula" th:field="*{idPelicula}"  placeholder="Ingrese ID de la pelicula">
	          <div class="alert alert-danger" th:if="${#fields.hasErrors('idPelicula')}" th:errors="*{idPelicula}"></div>
	          
        	</div>
	      
       	  <div class="mb-3">
	          
	          <label for="nombre" class="form-label">Nombre de la Pelicula</label> 
	          <input type="text" class="form-control" id="nombre" th:field="*{nombrePelicula}" placeholder="Ingrese nombre de la pelicula">
	          
	          <label for="descripcion" class="form-label">Descripcion</label>
	          <input type="text" class="form-control" id="descripcion" th:field="*{descripcionPelicula}" placeholder="Ingrese sintesis de la pelicula">
	          
		</div>
		

        <div class="mb-3">
        
          <label for="fechaEstreno" class="form-label">Fecha de Estreno</label>
          <input type="date" class="form-control" id="fechaEstreno" th:field="*{fechaEstreno}" placeholder="Ingrese fecha de estreno">
           <div class="alert alert-danger" th:if="${#fields.hasErrors('fechaEstreno')}" th:errors="*{fechaEstreno}"></div>
       
       <div class="form-group row">
       	<label for ="file" class="col-sm-4 col-form-label"> Subir
       	 Imagen</label>
       	 <div class="col-sm-10">
       	 	<input type="file" name="file" class="form-control-file" id="file"
       	 	accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg"
       	 	onchange="loadFile(event)"> <img id="output" 
       	 	style="padding-top: 2px; width: 146px;" />
       	 </div>
       </div>    
        </div>
	
			<button type="submit" class="btn btn-primary"><span th:text="${editMode}? 'Modificar Pelicula' : 'Registrar Pelicula' "></span> </button>
		  	<a class="btn btn-light" th:href="@{/}">Volver</a>
		  	

		   </div>
		  	


		</form>
		</div>
</body>
</html>