<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- Colocar icono en las pestañas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width,initial-scale-1.0">
	<link rel="shortcut icon" href="img/palomitas.png">
	<title>Formulario Usuario</title>
	<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="modal-dialog text-center">
			<div class="col-sm-8 main-section-xd">
				<div class="modal-content">
					<h4>Registro de Usuario</h4>
					<form class="form" role="form" autocomplete="off" th:object="${usuario}"
						th:action="${editMode}? @{/editarUsuario} : @{/guardarUsuario}" method="post">
						<input type="hidden" class="form-control" th:if="${editMode}" th:field="*{contrasena}">
						<input type="hidden" class="form-control" th:if="${editMode}" th:field="*{dni}">



						
						<div class="form-group ">
							<label for="dni" class="form-label" th:if="${editMode==false}">DNI</label>
							<input type="number" class="form-control" id="dni" th:field="*{dni}" th:if="${editMode==false}" placeholder="Ingrese DNI" required>
							<div class="alert alert-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
							</div>
						</div>
						





						<!-- TIPO DE USUARIO -->
			    <div class="custom-control custom-radio">
				  <input type="radio" id="CLIENTE" name="tipo" class="custom-control-input" value="CLIENTE">
				  <label class="custom-control-label" for="CLIENTE">Cliente</label>
			</div>
			
			<div class="custom-control custom-radio">
				  <input type="radio" id="ADMIN" name="tipo" class="custom-control-input" value="ADMIN">
				  <label class="custom-control-label" for="ADMIN">Administrador</label>
			</div>
			
				<!-- TIPO DE USUARIO -->
				
				
				

						<div class="form-group">
							
							<label for="nombre" class="form-label">Nombre/s</label>
							<input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingrese nombre completo">
							
							<label for="apellido" class="form-label">Apellido/s</label>
							<input type="text" class="form-control" id="apellido" th:field="*{apellido}"
								placeholder="Ingrese apellido">
								
							<label for="exampleInputEmail1" class="form-label">Email</label>
							<input type="email" class="form-control" id="exampleInputEmail1" th:field="*{email}"
								placeholder="Ingrese email: ej@correo.com">
								
							<label for="genero" class="form-label">Genero</label>
							<input type="text" class="form-control" id="genero" th:field="*{genero}" placeholder="Ej: femenino">
						</div>
							<div class="form-group">
								<label for="exampleInputPassword1" class="form-label"
									th:if="${editMode==false}">Contraseña</label> <input type="password" class="form-control"
									id="exampleInputPassword1" th:field="*{contrasena}" th:if="${editMode==false}"
									placeholder="Ingrese contraseña">
								<div class="alert alert-danger" th:if="${#fields.hasErrors('contrasena')}"
									th:errors="*{contrasena}"></div>
							</div>


							<div class="form-group">
								<label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
								<input type="date" class="form-control" id="fechaNacimiento"
									th:field="*{fechaNacimiento}" placeholder="Ingrese su fecha de nacimiento">
							</div>

							<button type="submit" class="btn btn-primary"><span
									th:text="${editMode}? 'Modificar' : 'Registrarse' "></span> </button>
							<a class="btn btn-light" th:href="@{/cargarUsuario}">Volver</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>