<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- Colocar icono en las pestañas -->
	<meta http-equiv="X-UA-Compatible"content="IE=edge">
	<meta name="viewport" content="width-device-width,initial-scale-1.0">
	<link rel="shortcut icon"href="img/palomitas.png">
	<title>Listado de Comentario de Peliculas</title>
	<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	  <link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="container">
<div class="alert-danger text-center" th:if="${formUsuarioErrorMessage}" th:text="${formUsuarioErrorMessage}">Name Error</div>
		<section>
			<div class="table-responsive">
				<table class="table table-sm table-dark table-hover">
					<caption class="table-caption">List of users</caption>
					<thead>
						<tr class="text-center">
							<th scope="col">usuario</th>
							<th scope="col">pelicula</th>
							<th scope="col">fechadeComentario</th>
							<th scope="col">Comentario</th>
							<th scope="col">Valoracion</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
					
						<tr th:each="u :${listaComentarioValoracion}" class="text-center">
							<td th:text="${u.usuario.nombre}"></td>
							<td th:text="${u.pelicula.nombre}"></td>
							<td th:text="${u.fechadeCom}"></td>
							<td th:text="${u.texto}"></td>
							<td th:text="${u.valoracion}"></td>
						<td><a class="btn btn-warning" href="#"
								>Editar</a> 
								<a class="link-eliminar" href="#">
								<i class="btn btn-secondary fa fa-trash-alt"></i></a>
							 							</td>

						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
	

</body>
</html>