<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- Colocar icono en las pestañas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width,initial-scale-1.0">
	<link rel="shortcut icon" href="img/palomitas.png">
	<title>Listado de Comentario de Peliculas</title>
	<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>

<body>

	<div class="container">
		<div class="alert-danger text-center" th:if="${formUsuarioErrorMessage}" th:text="${formUsuarioErrorMessage}">
			Nombre Error</div>
		<section>
			<div class="table-responsive">
				<table class="table table-sm table-dark table-hover">
					
					<thead>
						<tr class="text-center">
							<th scope="col">Usuario</th>
							<th scope="col">Apellido</th>
							<th scope="col">Pelicula</th>
							<!-- <th scope="col">Fecha de Comentario</th>-->
							<th scope="col">Comentario</th>
							<th scope="col">Valoracion</th>
							<th scope="col">Edicion</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						<tr th:if="${listaComentarioValoracion.empty}">
							<td colspan="6">No hay comentarios cargados</td>
						</tr>
						<tr th:each="u :${listaComentarioValoracion}" class="text-center">
							<td th:text="${u.usuario.nombre}"></td>
							<td th:text="${u.usuario.apellido}"></td>
							<td th:text="${u.pelicula.nombrePelicula}"></td>
							<!-- <td th:text="${u.fechaComen}"></td> -->
							<td th:text="${u.texto}"></td>
							<td th:text="${u.valoracion}"></td>
							<td colspan="3"><a class="btn btn-warning" th:href="@{'/editComentario/'+ ${u.idComentario}}">Editar</a>
							</td>
						</tr>
					</tbody>
				</table>
				<a class="btn btn-primary" th:href="@{/index}">Volver</a>
			</div>
		</section>
	</div>

</body>

</html>