<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Listado</title>
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
  <link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<br>
		<div class="alert-danger text-center" th:if="${formPeliculaErrorMessage}" th:text="${formPeliculaErrorMessage}">Name Error</div>
		<table class="table table-bordered border-primary">
			<thead class="table-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre de Pelicula</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Duracion</th>
					<th scope="col">Genero</th>
					<th scope="col">Fecha de Estreno</th>
					<th scope="col">1er Horario</th> 
					<th scope="col">2do Horario</th>
					<th scope="col">3er Horario</th>
          <th scope="col">Actores</th>
					<th scope="col">Imagen</th>
				</tr>
			</thead>
			<tbody class="table-secondary">
				<tr th:if="${listaPelicula.empty}">
					<td colspan="10">No hay peliculas cargadas</td>
				</tr>
				<tr th:each="u:${listaPelicula}">
					<td th:text="${u.idPelicula}"></td>
					<td th:text="${u.nombrePelicula}"></td>
					<td th:text="${u.descripcionPelicula}"></td>
					<td th:text="${u.duracionPelicula}"></td>
					<td th:text="${u.generoPelicula}"></td>
					<td th:text="${u.fechaEstreno}"></td>
					<td th:text="${u.horario1}"></td>
					<td th:text="${u.horario2}"></td>
					<td th:text="${u.horario3}"></td>
          <td th:text="${u.actores}"></td>
					<td><a class="btn btn-warning" th:href="@{'/editarPelicula/'+ ${u.idPelicula}}">Editar</a>
					<a class="btn btn-danger fa fa-trash" th:onclick="'javascript:confirmarEliminar(\''+${u.idPelicula}+'\');'"	>Eliminar</a></td>  
				</tr>
			</tbody>
		</table>

	</div>
</body>
<!-- Modal -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Eliminar Pelicula</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>¿Seguro quiere eliminar la Pelicula?</h3>
        <br>
        <input type="text" id="identificadorDePelicula" class="form-control"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
        <button type="button" class="btn btn-primary" th:onclick="eliminarPelicula()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

</body>

<script type="text/javascript">
		var exampleModal = document.getElementById('modalEliminar')
		exampleModal.addEventListener('show.bs.modal', function(event) {
			exampleModal.style.display="block"
				// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-bs-* attributes
			var recipient = button.getAttribute('data-bs-mail')
			var recipient2 = button.getAttribute('data-bs-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = exampleModal.querySelector('.modal-title')
			var modalBodyInput = exampleModal
					.querySelector('.modal-body input')

			modalTitle.textContent = 'Eliminar Pelicula ' + recipient
			modalBodyInput.value = recipient2
		})
	</script>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
	 type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"
	 ></script>
<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"
	 type="text/javascript" src="webjars/bootstrap/5.0.0/js/bootstrap.min.js"
	 ></script>
<script type="text/javascript">
	function confirmarEliminar(idPelicula){
		$('#modalEliminar').modal('show');
		$("#identificadorDePelicula").val(idPelicula);
	}

	function eliminarPelicula(){
		var id=$("#identificadorDePelicula").val();
		window.location="/eliminarPelicula/"+ idPelicula;
	}fi

</script>
</html> 